
* {
    padding: 0;
    margin: 0;
    outline: none;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
}

:root, :root.dark {
    --primary-bg: #22252d;
    --color-fg: #f8f8f8;
    --secondary-bg:#292d36;
    --buttons-bg: #272b33;
}

:root.light{
    --primary-bg: #fff;
    --color-fg: #292d36;
    --secondary-bg:#292d36;
    --buttons-bg: #f7f7f7;
    .fnkeys {
        color: #00c9a4 !important
    }
    .operator {
        color: #d76363 !important;
    }
}

body {
    font-family: 'Monsterrat', sans-serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(92,0,171,1) 100%);
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 1em;
}


.container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg);
    width: 300px;
    border-radius: 20px;
    padding-top: 20px;
    box-shadow: 0 0 20px 0 var(--secondary-bg);
}

.dark_mode {
    margin: 4px auto;
    background: var(--buttons-bg);
    padding: 4px 6px;
    border-radius: 8px;
}

.dark_mode .dark, .dark_mode .light {
    font-size: 1.3rem;
    color: var(--color-fg);
    margin: 2px 8px;
    cursor: pointer;
}

.resultbox{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

.resultbox input {
    text-align: right;
    width: 80%;
    padding: 3px 10px;
    background: var(--primary-bg);
    border: 0;
    color: var(--color-fg);
    cursor: default;
}

.resultbox input[name="expression"] {
    letter-spacing: 0.1em;
    font-weight: bold;
}

.resultbox input[name="result"] {
    font-size: 1.8em;
    font-weight: bold;
    padding: 4px 10px;
    letter-spacing: 0.1em;
}

.buttons {
    width: calc(100% - 20px);
    padding: 20px 10px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.buttons div {
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
}

.buttons div input {
    color: var(--color-fg);
    background: var(--buttons-bg);
    border: 0;
    width: 60px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.fnkeys {
    color: #26fdd6 !important;
}

.operator {
    color: #f47a7a !important;
}

.equal{
    width: 130px !important;
}



